
.vs/IceCreamCakeShop/config/applicationhost.config
.vs/IceCreamCakeShop/v16/.suo
IceCreamCakeShop/bin/IceCreamCakeShop.dll
IceCreamCakeShop/bin/IceCreamCakeShop.pdb
IceCreamCakeShop/Main/3.1.0 Login/Register.aspx
IceCreamCakeShop/Main/3.1.4 CakeMakeManagement/addCake.aspx.cs
IceCreamCakeShop/obj/Debug/IceCreamCakeShop.csproj.CoreCompileInputs.cache
IceCreamCakeShop/obj/Debug/IceCreamCakeShop.csproj.FileListAbsolute.txt
IceCreamCakeShop/obj/Debug/IceCreamCakeShop.csprojAssemblyReference.cache
IceCreamCakeShop/obj/Debug/IceCreamCakeShop.dll
IceCreamCakeShop/obj/Debug/IceCreamCakeShop.pdb
/.vs/IceCreamCakeShop/v16/Server/sqlite3/db.lock
